<meta charset="UTF-8">

<div class="alert alert-danger" ng-show="erro">{{ erro }}</div> 
<div class="alert alert-success" ng-show="success">{{ success }}</div> 
<div id="opcoesTabela">
		<button type="button" class="btn btn-success"
			ng-click="buscarFiltros()">
			<span class="glyphicon glyphicon-search"></span> Buscar Filtros
		</button>
		<button type="button" class="btn btn-primary"
			ng-click="filtroControle()">
			<span class="glyphicon glyphicon-filter"></span> Mostrar Filtros
		</button>
		<button type="button" class="btn btn-info" ng-click="limparFiltros()">
			<span class="glyphicon glyphicon-erase"></span> Limpar Filtros
		</button>
		<button type="button" class="btn btn-info" >
			<span class="glyphicon glyphicon-pencil"></span>	
			<a style="color:white" ng-href="/empresaEdit/{{empresaChecked.id}}">Edição</a>
		</button>
		<button type="button" class="btn btn-danger" >
			<span class="glyphicon glyphicon-remove"></span>	
			<a style="color:white" ng-click="deleteEmpresa()">Delete</a>
		</button>
		
		<button type="button" class="btn btn-success" >
			<span class="glyphicon glyphicon-file"></span>	
			<a style="color:white" ng-href="/importacao" >Importação</a>
		</button>
		
		<button type="button" class="btn btn-success" >
			<span class="glyphicon glyphicon-file"></span>	
			<a style="color:white" ng-click="downloadXml()">Exportação</a>
		</button>
		
		<button ng-show="pathDownload"  type="button" class="btn btn-success" >
			<span class="glyphicon glyphicon-file"></span>	
			<a style="color:white"  href="/xml/604548.xml" download="file.xml" target="_self" >Download</a>
		</button>
		
	</div>
	<div style="width: 100%">
		<table class="table table-striped">
			<thead >
				<tr class="">
					<th style="width: 10%">#</th>
					<th style="width: 30%">Empresa</th>
					<th style="width: 30%">Cnpj</th>
					<th style="width: 30%">Status</th>
				</tr>
				<tr ng-show="isFiltros">
					<th></th>
					<th><input class="form-control" type="text" ng-model="filtro.razaoSocial" /></th>
					<th><input class="form-control" type="text" ng-model="filtro.cnpj" /></th>
					<th><input class="form-control" type="text" ng-model="filtro.status" /></th>
				</tr>
			</thead>
			<tfoot>

			</tfoot>
			<tbody>
				<tr ng-repeat="empresa in empresas">
					<td><input type="radio" ng-model="empresaChecked.id"
						ng-value="empresa.id" /></td>
					<td>{{empresa.razaoSocial}}</td>
					<td>{{empresa.cnpj}}</td>
					<td>{{empresa.status}}</td>
				</tr>
			</tbody>
		</table>

	</div>