<meta charset="UTF-8">
<div id="opcoesTabela">
		<button type="button" class="btn btn-success"
			ng-click="buscarFiltros()">
			<span class="glyphicon glyphicon-search"></span> Buscar Filtros
		</button>
		<button type="button" class="btn btn-primary"
			ng-click="filtroControle()">
			<span class="glyphicon glyphicon-filter"></span> Mostrar Filtros
		</button>
		<button type="button" class="btn btn-info" ng-click="limparFiltros()">
			<span class="glyphicon glyphicon-erase"></span> Limpar Filtros
		</button>
		<button type="button" class="btn btn-info" >
			<span class="glyphicon glyphicon-pencil"></span>	
			<a style="color:white" ng-href="/empresaEdit/{{empresaChecked.id}}">Edição</a>
		</button>
		<button type="button" class="btn btn-danger" >
			<span class="glyphicon glyphicon-remove"></span>	
			<a style="color:white" ng-href="/" ng-click="deleteEmpresa()">Delete</a>
		</button>
	</div>
	<div style="width: 100%">
		<table class="table table-striped">
			<thead class="">
				<tr class="">
					<th>#</th>
					<th>Empresa</th>
					<th>Cnpj</th>
					<th>Status</th>
				</tr>
				<tr ng-show="isFiltros">
					<th></th>
					<th><input type="text" ng-model="filtro.razaoSocial" /></th>
					<th><input type="text" ng-model="filtro.cnpj" /></th>
					<th><input type="text" ng-model="filtro.status" /></th>
				</tr>
			</thead>
			<tfoot>

			</tfoot>
			<tbody>
				<tr ng-repeat="empresa in empresas">
					<td><input type="radio" ng-model="empresaChecked.id"
						ng-value="empresa.id" /></td>
					<td>{{empresa.razaoSocial}}</td>
					<td>{{empresa.cnpj}}</td>
					<td>{{empresa.status}}</td>
				</tr>
			</tbody>
		</table>

	</div>